* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:  sans-serif;
}
body {
    background: #3d5a80;
}
/* start nav section */
.container {
    display: flex;
}
nav {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    background: #293241;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0 , 0 , 0 , 0.1 );
}
nav ul li {
    padding: 30px 0;
}
.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
}
.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a {
    position: relative;
    color: #ee6c4d;
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}
nav .fas ,
.fa-solid ,
.fa-brands
{
    position: relative;
    width: 7px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
    margin-right: 20px;
    color: #ee6c4d;
}
.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
    letter-spacing: 1px;
}
a {
    transition : all 0.3s ease 0s;
}
a:hover {
    background: #eee;

}
.logo:hover {
    background-color: #293241;
}
/* end nav section */

/* start header section */
.header {
    position: absolute;
    top: 0;
    left: 280px;
    width: calc(100% - 280px);
    display: flex;
    height: 105px;
    background-color: #e0fbfc;
}
.header .HeadName {
    padding: 40px;
}
.header p {
    color: #ee6c4d;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}
/* end header section */

/* start info section */
.information {
    position: absolute;
    left: 280px;
    top: 105px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.information img {
    border-radius: 50%;
    border: 2px solid #e0fbfc;
    width: 130px;
    margin-bottom: 100px;
    left: 40%;
    transform: translateX(-60%);
    position: relative;
}
.information label {
    margin-bottom: 100px;
    color: #e0fbfc;
    letter-spacing: 1px;
    font-size: 22px;
    text-transform: uppercase;
}
.information .info_gdeed {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin-left: 200px;
}
/* end info section */


