
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat" , sans-serif;
}
body {
    background-color: #3d5a80;
}
/* start header */
.HeadName {
    cursor: pointer;
    color: #edf0f1;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Montserrat" , sans-serif;
    border-bottom: 2px solid #ee6c4d;
}
/* End header */

form {
    height: 520px;
    width: 400px;
    background-color: #293241;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgb(8 7 16 / 30%);
    padding: 50px 35px;
}
form * {
    font-family: 'Poppins' , sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form label {
    display: block;
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
}
input {
    display: block;
    height: 50px;
    width: 100%;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: black;
}
.conButt {
    margin-top: 50px;
    width: 100%;
    color: white;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ee6c4d;
    transition: all 0.3s ease 0s;
}
.conButt:hover {
    background-color: #98c1d9;
}