* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* start room card */
.container {
    background-color: rgb(111 191 145);
    position: absolute;
    width: 800px;
    height: 750px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 15px;
    box-shadow: 0 0 40px rgb(8 7 16 / 30%);
}
.container h2 {
    text-align: center;
    margin-top: 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
}
.container .RoomForm .upper_section .info {
    position: relative;
    width: 200%;
    padding: 50px 95px;
}

.container .RoomForm .upper_section .info label {
    font-size: 20px;
    padding: 0 24px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
}
.container .RoomForm .upper_section .info .Cap,
.Cur
{
    border-bottom: 2px solid white;
    margin: 20px;
}
.container .RoomForm .upper_section .Students {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    padding: 0 75px;
}
.container .RoomForm .upper_section .Students label {
    border-bottom: 2px solid white;
    margin: 20px;
    color: white;
    padding: 0 15px;
}
.horizontal_line {
    border-bottom: 2px solid white;
    position: relative;
    padding-top: 40px;
}
/* start lower section */
.lower_section {
    position: relative;
    padding-top: 10px;
    padding-left: 50px;
    width: 80%;
    left: 20px;
}
.lower_section form {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 20px;
    padding-top: 25px;
}

.lower_section form input {
    border: none;
    border-radius: 5px;
    height: 25px;
    padding: 0 15px;
    margin-right: 20px;
}
.lower_section form label {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.lower_section form button {
    border: none;
    border-radius: 10px;
    color: rgb(111 191 145);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(13, 99, 45, 0.8);
}
.lower_section .add_form label {
    text-align: center;
}
/* end lower section */

/* end room card */
