* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #3d5a80;
}
/* start header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
    width: 100%;
    background-color: white;
}
.header .logo {
    color: #293241;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2px;
}
.header a {
    font-size: 35px;
    color: #293241;
}
/* end header */

/* start main section */
.container form{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    padding: 0 150px;
    padding-top: 30px;
    grid-gap: 40px;
}
.container .gender {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    display: flex;
    justify-content: space-between;
}
.container .gender .gender_things {
    position: relative;
    left: 540px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.container .gender .gender_things input {
    width: 50px;
    border: none;
}
.container .gender .gender_things p {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.container .Is_Older {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    display: flex;
    justify-content: space-between;
}
.container .Is_Older .isOlder_things {
    position: relative;
    left: 540px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.container .Is_Older .isOlder_things input {
    width: 50px;
    border: none;
}
.container .Is_Older .isOlder_things p {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.container .Is_Older label {
    width: 200px;
}
.container button {
    width: 150px;
    height: 40px;
    position: relative;
    left: 140%;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #293241;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: #ee6c4d;
}
.container label {
    color: #e0fbfc;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}
.container input {
    border: none;
    border-radius: 10px;
    padding: 0 30px;
    height: 30px;
    box-shadow: 0 0 40px rgba(113, 111, 128, 0.3);
}
/* end main section */

